In [1]:
from Skripsi import Preprocessing
from Skripsi import Evaluation
from Skripsi import LSTMUnit
from pandas import read_csv
from pandas import DataFrame
import numpy as np
import pandas as pd
from openpyxl.workbook import Workbook
import pickle

In [10]:
btc_dfd = pd.read_csv('../Dataset/Binance_BTCUSDT_1h.csv')
btc_dfd.tail(5)

                      Date     Open     High      Low    Close   Volume USDT
26269  2020-01-01 04:00:00  7225.00  7230.00  7215.03  7217.27  3.379094e+06
26270  2020-01-01 03:00:00  7242.66  7245.00  7220.00  7225.01  5.667367e+06
26271  2020-01-01 02:00:00  7215.52  7244.87  7211.41  7242.85  4.736719e+06
26272  2020-01-01 01:00:00  7176.47  7230.00  7175.71  7216.27  6.365953e+06
26273  2020-01-01 00:00:00  7195.24  7196.25  7175.46  7177.02  3.675857e+06

In [3]:
df_no_dup = Preprocessing.handle_duplicate(btc_dfd)
df_no_dup

duplicate ok

,Date,Open,High,Low,Close,Volume USDT
0,2022-12-31 23:00:00,16520.28,16551.24,16487.74,16542.40,8.217183e+07
1,2022-12-31 22:00:00,16548.28,16567.49,16470.00,16520.81,1.106669e+08
2,2022-12-31 21:00:00,16568.19,16571.64,16544.12,16548.28,5.992803e+07
3,2022-12-31 20:00:00,16570.14,16574.97,16564.09,16568.60,4.344849e+07
4,2022-12-31 19:00:00,16577.78,16590.06,16565.10,16570.14,6.704605e+07
...,...,...,...,...,...,...
26269,2020-01-01 04:00:00,7225.00,7230.00,7215.03,7217.27,3.379094e+06
26270,2020-01-01 03:00:00,7242.66,7245.00,7220.00,7225.01,5.667367e+06
26271,2020-01-01 02:00:00,7215.52,7244.87,7211.41,7242.85,4.736719e+06
26272,2020-01-01 01:00:00,7176.47,7230.00,7175.71,7216.27,6.365953e+06
26273,2020-01-01 00:00:00,7195.24,7196.25,7175.46,7177.02,3.675857e+06

In [4]:
df = Preprocessing.sort_df(df_no_dup)
df

,Date,Open,High,Low,Close,Volume USDT
0,2020-01-01 00:00:00,7195.24,7196.25,7175.46,7177.02,3.675857e+06
1,2020-01-01 01:00:00,7176.47,7230.00,7175.71,7216.27,6.365953e+06
2,2020-01-01 02:00:00,7215.52,7244.87,7211.41,7242.85,4.736719e+06
3,2020-01-01 03:00:00,7242.66,7245.00,7220.00,7225.01,5.667367e+06
4,2020-01-01 04:00:00,7225.00,7230.00,7215.03,7217.27,3.379094e+06
...,...,...,...,...,...,...
26269,2022-12-31 19:00:00,16577.78,16590.06,16565.10,16570.14,6.704605e+07
26270,2022-12-31 20:00:00,16570.14,16574.97,16564.09,16568.60,4.344849e+07
26271,2022-12-31 21:00:00,16568.19,16571.64,16544.12,16548.28,5.992803e+07
26272,2022-12-31 22:00:00,16548.28,16567.49,16470.00,16520.81,1.106669e+08
26273,2022-12-31 23:00:00,16520.28,16551.24,16487.74,16542.40,8.217183e+07

In [5]:
miss = Preprocessing.handle_missing_value(df)
miss

No missing value

,Date,Open,High,Low,Close,Volume USDT
0,2020-01-01 00:00:00,7195.24,7196.25,7175.46,7177.02,3.675857e+06
1,2020-01-01 01:00:00,7176.47,7230.00,7175.71,7216.27,6.365953e+06
2,2020-01-01 02:00:00,7215.52,7244.87,7211.41,7242.85,4.736719e+06
3,2020-01-01 03:00:00,7242.66,7245.00,7220.00,7225.01,5.667367e+06
4,2020-01-01 04:00:00,7225.00,7230.00,7215.03,7217.27,3.379094e+06
...,...,...,...,...,...,...
26269,2022-12-31 19:00:00,16577.78,16590.06,16565.10,16570.14,6.704605e+07
26270,2022-12-31 20:00:00,16570.14,16574.97,16564.09,16568.60,4.344849e+07
26271,2022-12-31 21:00:00,16568.19,16571.64,16544.12,16548.28,5.992803e+07
26272,2022-12-31 22:00:00,16548.28,16567.49,16470.00,16520.81,1.106669e+08
26273,2022-12-31 23:00:00,16520.28,16551.24,16487.74,16542.40,8.217183e+07

In [9]:
x, scaler = Preprocessing.minmax_scale(miss)
x[0:5]

array([[0.04750117, 0.0401654 , 0.05247223, 0.00122299, 0.04722846],
       [0.04721018, 0.04068955, 0.0524761 , 0.00211801, 0.04783696],
       [0.04781557, 0.04092048, 0.05302814, 0.00157595, 0.04824904],
       [0.04823632, 0.0409225 , 0.05316097, 0.00188558, 0.04797246],
       [0.04796253, 0.04068955, 0.05308412, 0.00112425, 0.04785247]])